<head>
        <script src="js/app.js"></script>
        <script src="js/user/user-controller.js"></script>
        <script src="js/user/medicine-controller.js"></script>
      </head>
      <div style="border: 1px solid; background-color: darkgray;"  ng-app="myApp" ng-controller="MedicineCtrl">
      
      <div class="container"  >
          <div class="form-inline">   <!-- location form -->
            <div class="form-group">
                <input type="text" placeholder="Landmark" ng-model="companyForm.landmark"/> 
            </div>
            <div class="form-group">
                <input type="text" placeholder="Street 1" ng-model="companyForm.street1"/> 
            </div>
            <div class="form-group">
                <input type="text" placeholder="Street 2" ng-model="companyForm.street2"/> 
            </div>
            <div class="form-group">
                <input type="text" placeholder="City" ng-model="companyForm.city"/> 
            </div>
            <div class="form-group">
                <select ng-model="companyForm.state" ng-options="o as o for o in states">
                    <option value="" selected> State </option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Zip" ng-model="companyForm.zip"/> 
            </div>
            <div class="form-group">
                <select ng-model="companyForm.country" ng-options="o as o for o in countries">
                    <option value="" selected> Country </option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Latitude" ng-model="companyForm.latitude"/> 
            </div>
            <div class="form-group">
                <input type="text" placeholder="Longitude" ng-model="companyForm.longitude"/> 
            </div>
            <div class="form-group">
                <select ng-model="companyForm.type" ng-options="o as o for o in types">
                    <option value="" selected> Type </option>
                </select>
            </div>
            <div class="form-group">
                <input type="button" ng-click="addLocation()" class="btn btn-default btn-sm" value=" + " style="height: 25px;"/>
            </div>
          </div>
          
          <table class="table-striped"> <!-- location table -->
            <tr>
                <th>Landmark</th>
                <th>Street 1</th>
                <th>Street 2</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Country</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Type</th>
            </tr>
         
          </table>
          <ul ng-repeat="location in cart.location" style="display: inline-block;" >
              <li>{{location.landmark}}</li>
              <li>{{location.street1}}</li>
              <li>{{location.street2}}</li>
              <li>{{location.city}}</li>
              <li>{{location.state}}</li>
              <li>{{location.zip}}</li>
              <li>{{location.country}}</li>
              <li>{{location.latitude}}</li>
              <li>{{location.longitude}}</li>
              <li>{{location.type}}</li>
          </ul>
          
        </body>
      
      
      